@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8wh7lq');
  src:  url('fonts/icomoon.eot?8wh7lq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8wh7lq') format('truetype'),
    url('fonts/icomoon.woff?8wh7lq') format('woff'),
    url('fonts/icomoon.svg?8wh7lq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-beer-bottle:before {
  content: "\e906";
}
.icon-beer:before {
  content: "\e904";
}
.icon-arrow-up:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e900";
}
.icon-location:before {
  content: "\e901";
}
.icon-map:before {
  content: "\e901";
}
.icon-clear:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e902";
}
.icon-copo-de-cerveja:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-flower-hop:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e913";
}
.icon-menu:before {
  content: "\e914";
}
.icon-whatsapp:before {
  content: "\e933";
}
